body {
    font-family: Arial;
}

.todo-input-container, .todo-items {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center; /* To center the elements vertically*/
}

.todo-input-container {
    margin-bottom: 10px;
    align-items: stretch; /* overriding "align-items: center;" to stretch the ADD button as same as input fields */
}

.event, .date {
    font-size: 15px;
    padding: 6px;
}

.todo-add, .todo-delete {
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.todo-add {
    background-color: green;
}

.todo-delete {
    background-color: rgb(200, 0, 0);
}