* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.drag-box {
    width: 100px;
    height: 100px;
    background-color: teal;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.drop-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 40vw;
}

.container {
    flex-basis: 300px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    margin: 0 1rem;
}