body {
    background-color: rgb(20,20,20);
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    border: white 2px solid;
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(25,25,25);
    box-shadow: 0 0 5px inset;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.move {
    font-size: 4rem;
    background-color: rgb(20,20,20);
    border: 3px solid white;
    padding: 15px 16px;
    padding-bottom: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.reset, .auto-play {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 5px white inset;
    cursor: pointer;
    margin-bottom: 10px;
}

.reset:active, .auto-play:active {
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px white;
}

.status {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.cur-move, .score {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.icon {
    font-size: 60px;
}

.yes, .no {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgb(25,25,25);
    cursor: pointer;
    transition: color .5s, background-color .5s;
}

.yes:hover, .no:hover {
    background-color: white;
    color: black;
}