body {
    font-family: Arial;
}

.input-container, .todo-list {
    display: grid;
    grid-template-columns: 250px 150px 100px;
    column-gap: 10px;
    row-gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    
}

.todo-input, .todo-date {
    padding: 10px;
    font-size: 15px;
}

.todo-add, .todo-delete {
    background-color: green;
    border: none;
    color: white;
    padding: 13px 20px;
}

.todo-delete {
    background-color: darkred;
}